.kudos-wrapper {
  margin: 15px 0;
  border-left: 5px solid #841919;
  background-color: #9c646442;

  .information-about-kudos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 95%;
    border-radius: 4px;
    background-color: #cc9999;
    padding: 10px;

    h4 {
      span {

      }
    }

    .vote-wrapper {

      form {
        padding: 10px;
        background-color: whitesmoke;
        border-radius: 4px;

        label {
          font-size: 1rem;
        }
        .button-wrapper {
          display: flex;

          .btn {
            margin: auto;
          }
        }
      }
    }
  }

  .user-list-wrapper {
    width: 80%;
    margin: 20px auto;
    background-color: #f3f0edf7;

    header {
      background: rgb(255,0,0);
      background: linear-gradient(55deg, rgba(255,0,0,1) 0%, rgba(180,20,20,1) 28%, rgba(124,14,14,1) 65%, rgba(65,10,10,1) 100%);
      h5 {
        font-weight: 900;
        padding: 10px 15px;
        color: white;
  
      }
    }

    .list-content {
      width: 100%;
      max-height: 200px;
      overflow: auto;

      .vote {
        background-color: whitesmoke;
        padding: 5px 10px;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }

      p {
        text-align: center;
      }
    }
  }
}