.menu {
  padding: 20px 5px;
  border: 2px solid #dedada;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .logo {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    background: rgb(255,0,0);
    background: linear-gradient(55deg, rgba(255,0,0,1) 0%, rgba(180,20,20,1) 28%, rgba(124,14,14,1) 65%, rgba(65,10,10,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: fit-content;
    margin-left: 20px; 
  }

  .main-menu {

    width: auto;
    flex:1;

    .items-wrapper {

      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .search-col {
        padding-right: 15px;
        font-size: 18px;

        label {
          margin-bottom: 0!important;
          background-color: $darkRed;
          border-radius: 2px;
          
          input {
            border: 1px solid gray;
            border-radius: 2px;
          }

          .search-icon {
            padding: 5px;
            color: whitesmoke;
          }
        }
      }


      .user-profile-link-wrapper {
        font-size: 1.2rem;
        margin-right: 5px;

        span {
          margin-left: 4px;        
        }
      }
      
      @media(max-width: 445px) {
        justify-content: center;
        flex-wrap: wrap;
      }
  
      .button-wrapper {
        display: flex;
        
        @media(max-width: 445px) {
          margin-top: 10px;
        }
      }
    }

    .log {

      .login {
        font-size: 1.2rem;
      }
    }
  }
}
