.list-wrapper {

  header {

    background: rgb(255,0,0);
    background: linear-gradient(55deg, rgba(255,0,0,1) 0%, rgba(180,20,20,1) 28%, rgba(124,14,14,1) 65%, rgba(65,10,10,1) 100%);

    h3 {
      font-weight: 900;
      padding: 20px 15px;
      color: white;

    }
  }

  .list-content {
    border-bottom: 3px solid gray;
    background-color: whitesmoke;
    margin-bottom: 20px;

    li {
      font-size: 1.2rem;
    }
  }
}