<header class="home-page-header">
  <h1>Discover your favourite idea</h1>
  <div class="belt"></div>
  <h4>great place to find wonderful project and help ambitious people's dreams become true</h4>
</header>