<section>
  {{#each @model as |idea|}}
    <div class="card">
        <div class="idea-img" style="background-image: url({{idea.imageURL}});"></div>
        <div class="idea-short-description">
            {{idea.description}}
        </div>
        <div class="idea-author">
            {{idea.user}}
        </div>
    </div>
  {{/each}}
</section>
