<div class="card">
    <div class="idea-img" ></div>
    <div class="idea-title"><h1>Tytuł</h1></div>
    <div class="idea-short-description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. At ducimus consectetur tenetur impedit accusamus aut commodi omnis, nulla similique vel.
    </div>
    <div class="idea-author">
     <span>Created by: </span> <i>Veruca Salt</i>
    </div>
</div>