<nav class="menu">
    <div class=" logo">IdeaBakers</div>
    <div class="main-menu">
        <div class="items-wrapper">
            {{#if @isHomePage}}
            <NavBar::SearchBar @value={{@query}} @onChange={{@setSearchQuery}} />
            {{/if}}
            {{#if this.session.isAuthenticated}}
                <button type="button" class="log btn btn-outline-danger" {{on "click" this.invalidateSession}}>
                    <div class="login">Logout  <span class="login-icon"><i class="fas fa-sign-out-alt"></i></span></div>
                </button>
            {{else}}
               <LinkTo @route="log-in">
                    <div class="log btn btn-outline-danger" >
                        <div class="login">Log in  <span class="login-icon"><i class="fas fa-sign-in-alt"></i></span></div>
                    </div>
                </LinkTo>
            {{/if}}
        </div>
    </div>
</nav>