<nav class="menu">
    <div class=" logo">IdeaBakers</div>
    <div class="main-menu">
        <div class="items-wrapper">
            <NavBar::SearchBar @value={{@query}} @onChange={{@setSearchQuery}} />
            <div class="log">
                <div class="login">Log in  <span class="login-icon">X</span></div>                
            </div>
        </div>        
    </div>
</nav>