<div class="list-wrapper">
  <header class="header-bar">
    <h3>List of ideas</h3>
  </header>
  <div class="list-content">
    {{#if this.userIdeasList }}
      <ul>
        {{#each this.userIdeasList as |idea|}}
          <li data-test-single-added-idea-in-list> 
            <LinkTo @route="idea-details" @model={{idea.id}} data-test-single-added-idea-title >
              {{idea.title}}
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p data-test-idea-no-added-text >There's no any added idea yet...</p>
    {{/if}}
  </div>
</div>