<div class="list-wrapper">
  <header>
    <h3>List of ideas</h3>
  </header>
  <div class="list-content">
    {{#if this.userIdeasList }}
      <ul>
        {{#each this.userIdeasList as |idea|}}
          <li>
            <LinkTo @route="idea-details" @model={{idea.id}}>
              {{idea.title}}
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p data-test-idea-no-added-text >There's no any added idea yet...</p>
    {{/if}}
  </div>
</div>