<div class="new-idea-button-wraper" >
  <div class="new-idea-content-wrapper">
    <h4>Do you have a brilliant idea? Do you want to share it with a wide group of people who love creativity? You lack funds for its implementation?</h4>
    <h3>Add your own idea and watch your dreams come true every day!</h3>
    <button type="button" class="btn"><i class="far fa-plus-square"></i>Add your own idea</button>
  </div>
</div>